*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
}
h1{
    font-family: "Spectral", serif;
    font-size: 5vw;
}
.spanB{
    font-weight: bold;
    font-size: large;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: flex-end;
    background-color: #ffc017;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid black;
    transition: background-color 0.5s ease-in-out; 
}
header ul li{
    display: inline-block;
    margin-left: 1em;
}
button{
    background-color: white;
    border: solid 1px rgb(192, 192, 192);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 3px;
    transition: background-color 0.5s ease-in-out; 
}
.btnBlack{
    border-radius: 20px;
    border: 0;
    background-color: black;
    color: white;
    padding: 0.8vw;
    
    width: 10em;
}
#hero{
    height: 30vh;
    background-color: #ffc017;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.stayCurious :nth-child(1n){
    margin-bottom: 15px;
}
.stayCurious :nth-child(2){
    width: 20vw;
}
#M{
    height: 100%;
}

/*trending*/

#trending{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 30vh;
    margin: 0 auto;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
}
#trending div{
    flex-basis: 23vw;
}
#trending div p{
    margin-bottom: 1em;
}
#trending div img{
    border-radius: 100px;
    display: inline;
}
.nick{
    display: inline-block;
    font-weight: bold;
}
.up{
    width: 100vw;
}
.float{
    float: left;
    clear: both;
    height: 8vh;
    font-size: 2em;
    font-weight: bolder;
    opacity: 0.1;
}

/*questions*/

#insieme{
    display: flex;
    width: 90vw;
    margin: 0 auto;
    margin-top: 2em;
}
#questions{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 150vh;
    justify-content: space-around;
    margin-right: 2em;
}
#questions div{
    position: relative;
    flex-basis: 10vw;
}
.spanSfondo{
    background-color: gainsboro;
    border-radius: 50px;
    padding: 0 5px 0 5px;
}
#questions div img{
    border-radius: 100px;
    display: inline;
}
#questions div p{
    max-width: vw;
}
.ma{
    position: absolute;
    right: 0;
    bottom: 0;
}

#immag{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    align-content: space-around;
}
#immag img{
    height: 15vh;
    width: 20vw;
}

#discover{
    display: flex;
    flex-wrap: wrap;
    width: 35vw;
    align-content: start;  
}
#discover1{
    width: 32vw;
    border-bottom: 1px solid black;
    height: 16vh;
    position: sticky;
    top: 10vh;
}
#discover1 button{
    margin: 0.3vw;
}
#discover2{
    margin-top: 2vw;
    position: sticky;
    top: 28.5vh;
}
#discover2 a{
    padding: 2vw;
    text-decoration: none;
    color: unset;
}